body { background: url("http://themes.googleusercontent.com/image?id=1OACCYOE0-eoTRTfsBuX1NMN9nz599ufI1Jh0CggPFA_sK80AGkIr8pLtYRpNUKPmwtEa") repeat-x fixed center top #111111; color: #333; margin: 0;
height: 100%;}

.menu{
  width: 800px;
  height:60px;
  margin: 10px auto;
  position: relative;
  background:url("http://www.blogblog.com/1kt/transparent/white80.png") repeat scroll left top transparent;
  -moz-border-radius: 20px 20px 20px 20px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.nav{
  float: right;
  margin: 20px;
}
.left_nav{
  float: left;
  margin: 20px;
}
.content {
  width: 800px;
  margin: 0 auto;
  position: relative;
  background:url("http://www.blogblog.com/1kt/transparent/white80.png") repeat scroll left top transparent;
  -moz-border-radius: 20px 20px 20px 20px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.main_table{
  margin: 15px;
}

.block {
  background-color:#FFF;
  padding: 20px;
  -moz-border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
/*  margin: 30px 280px 10px 20px;*/
}

.right_block{
/*  background-color:#FFF;*/
  float: left;
  padding: 20px;
  margin: 30px 10px 10px 10px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.standard{margin-left:10px;border-spacing:0;border:1px solid #d7d7d7;-moz-border-radius:15px 15px 0 0;-webkit-border-radius:15px  15px 0 0;-o-border-radius:15px  15px 0 0;border-radius:15px  15px 0 0;color:#0e1215;margin-right:20px;}
.standard th{background:#c9e4ff;text-align:left;height:71px;padding:15px 20px 10px 15px;vertical-align:top;}
.standard th:first-child{-moz-border-radius:15px 0 0 0;-webkit-border-radius:15px 0 0 0;-o-border-radius:15px 0 0 0;border-radius:15px  0 0 0;}
.standard th:last-child{-moz-border-radius: 0 15px 0 0;-webkit-border-radius: 0 15px 0 0;-o-border-radius: 0 15px 0 0;border-radius:0  15px 0 0;}
.standard td{border-top:1px solid #d7d7d7;height:71px;padding:17px 30px 13px 15px;vertical-align:top;}
.standard tr.alt{background-color:#ebf0f6;}
.standard a{color:#23383d}
.standard a.completed{background:#c9e4ff;padding:4px 6px 6px;}