<p id="notice"><%= notice %></p>

<iframe width='800px' height='350px' src=<%= "http://www.google.com/dictionary?aq=f&langpair=en|ru&q=#{@word.word}&hl=en" %>>
</iframe><br/>
<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
